# **PROGRAMACIÓN EN PYTHON 1**
***Codo a Codo 4.0 - Big Data / Data Analytics***

# A) OPERADORES
Son símbolos que se aplican a uno o varios operandos en una expresión o instrucción con el fin de obtener cierto resultado

**Tipos de operadores**

# 1) OPERADORES ARITMÉTICOS
- suma +
- resta -
- multiplicación *
- potencia **
- división /
- división entera //
- módulo (resto de la división) %

In [2]:
numero = 10
print(numero + 5)
print(numero - 5)
print(numero * 2)
print(-numero)
print(numero ** 2)

# tipado dinámico --> int float
print(type(numero))
numero = numero / 3
print(numero)
print(type(numero))

numero = 10
print(numero // 3)
print(numero % 3)

15
5
20
-10
100
<class 'int'>
3.3333333333333335
<class 'float'>
3
1

In [4]:
#También puedo usar * para strings (cadenas de texto)
nom = "Ana"
ape = "López"
edad = 32
nomape = nom + " " + ape
print(nomape)

# tipado fuerte
# print(nomape + " tiene " + edad + " años.") # DA ERROR
print(nomape + " tiene", edad , "años.")
print(nomape * 5)

Ana López
Ana López tiene 32 años.
Ana LópezAna LópezAna LópezAna LópezAna López

# 2) OPERADORES DE ASIGNACIÓN
Dada una variable, puedo asignarle un valor, escribiendo


a = 5 # el operador **igual a**


a += 4 # toma el valor actual de a y le suma 4 -> ahora vale 9  


a -= 3 # toma el valor actual de a y le resta 3 -> ahora vale 6


a *= 2 # toma el valor actual de a y lo multiplica por 2 -> 12


a /= 3


a //=3


a %= 3

In [ ]:
nro = 5
nro = nro + 7
nro += 3
nro -= 4
nro *= 2
nro **= 2
nro /= 3
nro //= 2
nro %= 3

# 3) OPERADORES RELACIONALES
Devuelven un valor booleano. Se usan para crear los condicionales y poder alterar el flujo de nuestro programa
Dados a y b

a == b # si son iguales -> Devuelve True o False

a != b # a no es igual a b

a < b # a es menor que b

a > b # a es mayor que b

a <= b # a es menor o igual que b

a >= b # a es mayor o igual que b

In [ ]:
a = 10
b = 23
print(a == b)
print(a != b)
print(a < b)
print(a > b)
print(a <= b)
print(a >= b)

False
True

# 4) OPERADORES LÓGICOS o BOOLEANOS

and # evalúa si ambos operandos son True

or # evalúa si al menos uno de los operandos es True

not # cambia el valor del operando

In [ ]:
a = 10
b = 23
e1 = a == b
e2 = a != b
print(e1 and e2)  # False
print(e1 or e2) # True
print(not e1)

False
True
True

# 5) OPERADORES DE PERTENENCIA

Devuelve True o False dependiendo de si un elemento pertenece o no a una secuencia de datos

IN

NOT IN

In [ ]:
lista = [4,5,6,7,8,9,99]
print(7 in lista)
print(7 not in lista)
print(1000 in lista)

True
False
False

## B) ENTRADA Y SALIDA DE DATOS

# 1) SALIDA DE DATOS: print() - SECUENCIAS DE ESCAPE
print() imprime por pantalla lo que le pasamos como parámetro (un dato, una variable, una expresión o una función)<br>
Las secuencias de escape permiten enviar caracteres de control a la pantalla.

In [ ]:
print(23.23)
print(False)
nom = "Juana"
print(nom)
print(lista)
print(type(lista))

23.23
False
Juana
[4, 5, 6, 7, 8, 9, 99]
<class 'list'>

In [5]:
trabaja = True
edad = 23
print("Nombre: " + nom + " - Apellido: " + ape + " - Edad:", edad, " - Trabaja:", trabaja)

# SECUENCIAS DE ESCAPE
# salto de línea \n
print("\nNombre: " + nom + "\nApellido: " + ape + "\nEdad:", edad, "\nTrabaja:", trabaja)

# tabulador \t
print("\nNOMBRE\tAPELLIDO\tEDAD\tTRABAJA")
print("=======================================")
print(nom,"\t",ape,"\t\t",edad,"\t",trabaja)

Nombre: Ana - Apellido: López - Edad: 23  - Trabaja: True

Nombre: Ana
Apellido: López
Edad: 23
Trabaja: True

NOMBRE	APELLIDO	EDAD	TRABAJA
=======================================
Ana 	 López 		 23 	 True

# 2) ENTRADA DE DATOS: input()

Pide un dato al usuario.Dentro de los paréntesis se puede poner un texto que le indique al usuario qué es lo que se espera que ingrese.

IMPORTANTE!!!!!!!! todo dato ingresado, ingresa como cadena de texto (aunque sea un número).
Para poder operar con números ingresados por input, hay que convertirlos.

In [ ]:
nom = input("Por favor ingrese su nombre: ")
print("Hola,", nom)

Por favor ingrese su nombre: Cosme Fulanito
Hola, Cosme Fulanito

In [ ]:
n1 = input("Ingrese un nro ")
n2 = input("Ingrese otro nro ")
print("La suma da", n1 + n2)

Ingrese un nro10
Ingrese otro nro15
La suma da 1015

In [6]:
n1 = int(input("Ingrese un nro "))
n2 = int(input("Ingrese otro nro "))
print("La suma de", n1, "y", n2, "da", n1 + n2)
print(n1, "+", n2, "=", n1 + n2)

Ingrese un nro 1
Ingrese otro nro 2
La suma de 1 y 2 da 3
1 + 2 = 3

In [ ]:
n1 = float(input("Ingrese un nro "))
n2 = float(input("Ingrese otro nro "))
print("La suma de", n1, "y", n2, "da", n1 + n2)
print(n1, "+", n2, "=", n1 + n2)

'''
Si no sé qué tipo de nro me va a ingresar el usuario, es necesario ponerlo en float porque:
- si ingresa un nro int y lo paso a float no pasa nada
- si ingresa un float y espero un int da error.
'''

Ingrese un nro 10
Ingrese otro nro 12.5
La suma de 10.0 y 12.5 da 22.5
10.0 + 12.5 = 22.5

# **C) MATERIAL COMPLEMENTARIO**

**Fuente: Python.org**
*   <a href= "https://docs.python.org/es/3/reference/lexical_analysis.html#escape-sequences">Lista de secuencias de escape</a><br>
*   <a href="Lista de secuencias de escape">Palabras clave en Python</a><br>
*<a href="Lista de secuencias de escape">Operadores y delimitadores</a>
<hr>

## **D) EJERCITACIÓN**
*Ejercicios no obligatorios, no entregables.* <br><br>

# 1) Salidas por pantalla  y comentarios<br>

**Ejercicio #01-01**

Mostrá por pantalla todos los números del 0 al 9 separados por espacios en blanco.

**Ejercicio #01-02**

Mostrá por pantalla todos los números del 0 al 9 uno debajo del otro.
Podés usar todas las instrucciones que sean necesarias.

In [12]:
# salto de línea \n
print("\nNumero " + "1" + "\nNumero " + "2" + "\nNumero "+ "3"+ "\nNumero", "4"+ "\nNumero", "5"+ "\nNumero", "6"+ "\nNumero", "7"+ "\nNumero", "8"+ "\nNumero", "9")

Numero 1
Numero 2
Numero 3
Numero 4
Numero 5
Numero 6
Numero 7
Numero 8
Numero 9

**Ejercicio #01-03**

Mostrá por pantalla todos los números del 0 al 9 uno debajo del otro.
Intentá resolver este ejercicio usando una sola vez la función print() (recordá que el carácter de salto de línea es '\n' )

**Desafío Especial #01**<br>
Se necesita listar los datos de 5 personas usando un formato de columnas con un título subrayado con guiones comunes.<br>
Los datos de las personas a listar son Nombre, Apellido, Edad y email.<br>Se pide que cada columna esté separada de la anterior usando secuencias de escape.<br>
Ejemplo de salida:<br>


```
NOMBRE     APELLIDO  EDAD   EMAIL
------     --------  ----   -----
Roberto    Giménez    34    rg@somemail.com
Susana     Giménez    32    srg@somemail.com
Ana        Giménez    54    ag@somemail.com
Pedro      Giménez    38    pg@somemail.com
Luana      Giménez    25    lg@somemail.com
```

In [39]:
persona_1 = ["Roberto","Giménez","34","rg@somemail.com"]
persona_2 = ["Susana","Giménez","32","sg@somemail.com"]
persona_3 = ["Ana","Giménez","54","ag@somemail.com"]
persona_4 = ["Pedro","Giménez","38","pg@somemail.com"]
persona_5 = ["Luana","Giménez","25","lg@somemail.com"]
#      Giménez    32    srg@somemail.com
#         Giménez    54    ag@somemail.com
#       Giménez    38    pg@somemail.com
#       Giménez    25    lg@somemail.com
# tabulador \t
print("\nNOMBRE\t\tAPELLIDO\t\tEDAD\t\t\tEMAIL")
print("==========================================================================")
print(persona_1[0],"\t",persona_1[1],"\t\t",persona_1[2],"\t\t",persona_1[3])
print(persona_2[0],"\t\t",persona_2[1],"\t\t",persona_2[2],"\t\t",persona_2[3])
print(persona_3[0],"\t\t",persona_3[1],"\t\t",persona_3[2],"\t\t",persona_3[3])
print(persona_4[0],"\t\t",persona_4[1],"\t\t",persona_4[2],"\t\t",persona_4[3])
print(persona_5[0],"\t\t",persona_5[1],"\t\t",persona_5[2],"\t\t",persona_5[3])

NOMBRE		APELLIDO		EDAD			EMAIL
==========================================================================
Roberto 	 Giménez 		 34 		 rg@somemail.com
Susana 		 Giménez 		 32 		 sg@somemail.com
Ana 		 Giménez 		 54 		 ag@somemail.com
Pedro 		 Giménez 		 38 		 pg@somemail.com
Luana 		 Giménez 		 25 		 lg@somemail.com

# 2) Aritmética y entradas por teclado
**Ejercicio #02-01**<br>
Calculá el área de un círculo de 20 cm de radio y mostralo por pantalla indicando la unidad correspondiente.<br>
Averigua en Internet la fórmula para calcular y la unidad resultante si te resulta necesario.

In [40]:
#Area de un circulo ==> El área de un círculo con radio r > 0 es
#PI x R^2
radio = float(input("Por favor ingrese el radio del circulo: "))
print("El radio ingresado es,", radio)
area = 3.14 * radio**2
print("El area del circulo es ", area)

Por favor ingrese el radio del circulo: 10
El radio ingresado es, 10.0
El area del circulo es  314.0

**Ejercicio #02-02**<br>
Solicita que el usuario ingrese el año actual y su edad. <br>
Usando los datos ingresados, informá por pantalla el año de nacimiento del usuario, aclarando que significa el dato que se está mostrando.

In [ ]:
year = int(input("Por favor ingrese el año actual "))
print("El el año actual", year)
age = int(input("Por favor ingresa tu edad "))
birth_year = 
print("El area del circulo es ", area)

**Desafío Especial #02**<br>
    Una persona compra un terreno rectangular del cual le informan su frente y su profundidad (ambos datos expresados en metros)<br>
    Temporariamente, decide alambrar el perímetro con una malla metálica tejida que se vende por metro lineal.<br>
    Para hacer más fácil la circulación por el terreno, decide construir en la mitad del terreno, una vereda de 50 cm de ancho y del largo total de la profundidad del terreno. Los mosaicos se venden por metro cuadrado.<br>
    También decide emprolijar la superficie del terreno que no ocupa la vereda, cubriéndola con baldosas de césped que se venden por metro cuadrado.<br>
    Deberás solicitar al usuario que te ingrese los datos del ancho y largo del terreno y luego calcular las cantidades necesarias de malla, mosaicos y baldosas de césped.<br>
    Mostrar las cantidades calculadas aclarándolas e indicando las unidades correctas.<br>